/* .nav-link:hover { */
/* text-transform: uppercase; */
/* text-align: center;
  font-size: 18px;
  text-decoration: none;
  background: #0c217f;
  color: black;
  border-radius: 5px; */
/* font-family: "open-sans"; */
/* transition: 0.3s ease; */
/* border-top: 4px solid #ffffff; */
/* border-bottom: 4px solid #ffffff; */
/* } */
/* 
.navbar {
  height: 45px;
  position: sticky;

}

.nav-link {
  justify-content: space-between;
  margin-left: 20px;
  font-size: 18px;
} */
